/*
violet: #E8DFF5
pink: #FCE1E4
yellow: #FCF4DD
lightgreen: #DDEDEA
skyblue: #DAEAF6
*/

body {
    margin: 0;
    padding: 0;
    background-color: #F1F3F5;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a, a:visited {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}
#content {
    background-color: #FFF;
    width: 980px;
    min-height: 120vh;
    margin: 0 auto;
}
#footer {
    display: block;
    height: 40px;
    background-color: #333;
    color: #FAFAFA;
}
#header {
    display: block;
    background-color: #DAEAF6;
}
#header-wrapper {
    width: 980px;
    margin: 0 auto;
}
#main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}
.nav-menu-wrapper {
    display: flex;
}
.nav-menu-item {
    font-size: 20px;
    font-weight: bold;
    padding: 4px 20px;
}
/* .nav-menu-item:hover {
    background-color: #E8DFF5;
} */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.nav-menu-item:hover .dropdown-content {
    display: block;
}
